* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(255, 219, 170);
}

h1 {
    text-align: center;
    color: purple;
    text-shadow: 1px 1px 2px purple;
    padding: 0 1em;
}

.container {
    width: 84%;
    max-width: 600px;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 3em;
    position: relative;
}

.container>hr:not(:nth-child(4), :nth-child(5), :nth-child(6)) {
    position: absolute;
    width: 100%;
    padding: 0.3em;
    background-color: rgb(0, 0, 0, 0.9);
    max-width: 90%;
    margin-left: 4%;
    border-radius: 30px;
    border: 1px solid rgb(0, 0, 0);display: none;
}

.container> :is(:nth-child(4), :nth-child(5), :nth-child(6)) {
    position: absolute;
    width: 5px;
    padding: 0.3em;
    background-color: black;
    max-width: 90%;
    border-radius: 30px;
    border: 1px solid rgb(0, 0, 0);
    transform: rotateY('55deg');
    height: 90%;
    margin-top: 20px;display: none;
}

.container>div {
    width: 100%;
    border: 1px solid rgb(88, 86, 86);
    display: flex;
    flex-wrap: nowrap;
    gap: 0;
}

.container>div>button {
    flex-grow: 1;
    flex-basis: 80px;
    min-height: 50px;
    aspect-ratio: 1/1;
    max-height: 120px;
    font-size: 4rem;
    font-weight: bolder;
}

.start_and_restart_button {
    width: fit-content;
    font-size: larger;
    padding: 0.6em 1.5em;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 1.5em;
    background-color: rgb(237, 197, 197);
    font-weight: bold;
    box-shadow: 2px 2px 6px black;
}

#restart_button {
    display: none;
    background-color: lightgreen;
}

h2 {
    text-align: center;
    font-size: 2rem;
    animation: change_color 3s infinite;
}

@keyframes change_color {

    10% {
        color: darkblue;
    }

    40% {
        color: darkmagenta;
    }

    60% {
        color: darkgreen;
    }

    80% {
        color: darkslategrey;
    }

}
